<html>
  <head>
    {% block head %}
      <title>{% block title %} TimeChess {% endblock %}</title>
    {% endblock %}
  </head>

<body>

{% block footer %}

<p><b><font size=+3>TimeChess</font></b>

<hr>

{% endblock %}

{% block body %}
    <p>
    Sorry, an internal error occurred, and you accidentally saw a page with no content.

    <p>
    URL: {{ request.url }}

{% endblock %}

<hr>

<p>
Piece image sources <a href="https://commons.wikimedia.org/wiki/Category:SVG_chess_pieces">https://commons.wikimedia.org/wiki/Category:SVG_chess_pieces</a>

<p>
<a href="{{url_for("index")}}">Return to Home</a>

</body>
</html>

