{% extends "base.html" %}

{% block body %}

<div id="everything" style="width:800; margin:0 auto;">

<p>
<div id="board" style="position:relative; width:480; height:600;">

{% for x in range(8) %} {% for y in range(8) %}
  {% if (x+y)%2 == 0 %}
    <img id="a8" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:{{y*60}}; left:{{x*60}};"     width=60 height=60>
  {% else %}
    <img id="b8" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:{{y*60}}; left:{{x*60}};"    width=60 height=60>
  {% endif %}
{% endfor %} {% endfor %}

{% for p in pieces: %}
   <img src="{{p[0]}}" style="position:absolute; top:{{p[2]*60}}; left:{{p[1]*60}};">
{% endfor %}



<div style="position:absolute; top:30; left:510">

<!-- NOTE: We're assuming that the user loaded game/1/2, and that there are 2 rounds of valid moves.  We'll make this more dynamic later -->

<!-- TODO: Show invalidated moves with STRIKETHROUGH -->

<table width=200>
  {% for i in range(history|length) %}
    {% if i%2 == 0 %}
      <tr> <td>{{(i//2)+1}}.</td> 
    {% endif %}
    {% if i+1 == pos %}
           <td><b><font color=red>{{history[i]}}</font></b></td>
    {% else %}
           <td>{{history[i]}}</td>
    {% endif %}

    {% if i%2 == 1 or i+1 == history|length %}
      </tr>
    {% endif %}
  {% endfor %}
</table>

<pre>
{{board}}
</pre>

<p>
<b>Legal Moves:</b>

<div style="display:flex; flex-flow:row wrap; justify-content: space-between;">
{% for lm in legal_moves: %}
  <div>
    <form action="{{url_for("move")}}" method=POST>
      <input type=hidden name="gameID" value="{{gameID}}">
      <input type=hidden name="pos"    value="{{pos}}">
      <input type=hidden name="move"   value="{{lm}}">
      <input type=submit value="{{lm}}">
    </form>
  </div>
{% endfor %}
</div>

</div>



<div style="position:absolute; top:510; left:0; width:480; display:flex; justify-content:space-around; align-items:center">
  <a href="{{url_for("game", gameID=gameID, pos=1)}}">&lt;&lt;</a>
  <a href="{{url_for("game", gameID=gameID, pos=pos-1)}}">&lt;</a>
  <div align=center>Current Position:
       <br><b>Past</b> Half-Move {{pos}} of {{history|length}}</div>
  <a href="{{url_for("game", gameID=gameID, pos=pos+1)}}">&gt;</a>
  <a href="{{url_for("game", gameID=gameID, pos=moves|length+1)}}">&gt;&gt;</a> 
</div>



<p>
<b><font size=+2>NOTE:</font></b>
<br>You are viewing a position in the <b>past</b>.  Any move that you make
    will <b>alter the past!</b>

</div>
</div>
</div>


{% endblock %}

