{% extends "base.html" %}

{% block body %}

<p>
<div id="board" style="position:relative; width:480; height:600;">

<img id="a8" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:0; left:0;"     width=60 height=60>
<img id="b8" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:0; left:60;"    width=60 height=60>
<img id="c8" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:0; left:120;"   width=60 height=60>
<img id="d8" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:0; left:180;"   width=60 height=60>
<img id="e8" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:0; left:240;"   width=60 height=60>
<img id="f8" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:0; left:300;"   width=60 height=60>
<img id="g8" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:0; left:360;"   width=60 height=60>
<img id="h8" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:0; left:420;"   width=60 height=60>

<img id="a7" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:60; left:0;"    width=60 height=60>
<img id="b7" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:60; left:60;"   width=60 height=60>
<img id="c7" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:60; left:120;"  width=60 height=60>
<img id="d7" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:60; left:180;"  width=60 height=60>
<img id="e7" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:60; left:240;"  width=60 height=60>
<img id="f7" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:60; left:300;"  width=60 height=60>
<img id="g7" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:60; left:360;"  width=60 height=60>
<img id="h7" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:60; left:420;"  width=60 height=60>

<img id="a6" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:120; left:0;"   width=60 height=60>
<img id="b6" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:120; left:60;"  width=60 height=60>
<img id="c6" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:120; left:120;" width=60 height=60>
<img id="d6" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:120; left:180;" width=60 height=60>
<img id="e6" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:120; left:240;" width=60 height=60>
<img id="f6" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:120; left:300;" width=60 height=60>
<img id="g6" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:120; left:360;" width=60 height=60>
<img id="h6" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:120; left:420;" width=60 height=60>

<img id="a5" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:180; left:0;"   width=60 height=60>
<img id="b5" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:180; left:60;"  width=60 height=60>
<img id="c5" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:180; left:120;" width=60 height=60>
<img id="d5" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:180; left:180;" width=60 height=60>
<img id="e5" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:180; left:240;" width=60 height=60>
<img id="f5" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:180; left:300;" width=60 height=60>
<img id="g5" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:180; left:360;" width=60 height=60>
<img id="h5" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:180; left:420;" width=60 height=60>

<img id="a4" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:240; left:0;"   width=60 height=60>
<img id="b4" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:240; left:60;"  width=60 height=60>
<img id="c4" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:240; left:120;" width=60 height=60>
<img id="d4" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:240; left:180;" width=60 height=60>
<img id="e4" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:240; left:240;" width=60 height=60>
<img id="f4" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:240; left:300;" width=60 height=60>
<img id="g4" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:240; left:360;" width=60 height=60>
<img id="h4" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:240; left:420;" width=60 height=60>

<img id="a3" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:300; left:0;"   width=60 height=60>
<img id="b3" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:300; left:60;"  width=60 height=60>
<img id="c3" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:300; left:120;" width=60 height=60>
<img id="d3" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:300; left:180;" width=60 height=60>
<img id="e3" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:300; left:240;" width=60 height=60>
<img id="f3" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:300; left:300;" width=60 height=60>
<img id="g3" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:300; left:360;" width=60 height=60>
<img id="h3" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:300; left:420;" width=60 height=60>

<img id="a2" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:360; left:0;"   width=60 height=60>
<img id="b2" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:360; left:60;"  width=60 height=60>
<img id="c2" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:360; left:120;" width=60 height=60>
<img id="d2" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:360; left:180;" width=60 height=60>
<img id="e2" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:360; left:240;" width=60 height=60>
<img id="f2" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:360; left:300;" width=60 height=60>
<img id="g2" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:360; left:360;" width=60 height=60>
<img id="h2" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:360; left:420;" width=60 height=60>

<img id="a1" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:420; left:0;"   width=60 height=60>
<img id="b1" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:420; left:60;"  width=60 height=60>
<img id="c1" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:420; left:120;" width=60 height=60>
<img id="d1" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:420; left:180;" width=60 height=60>
<img id="e1" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:420; left:240;" width=60 height=60>
<img id="f1" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:420; left:300;" width=60 height=60>
<img id="g1" src="{{url_for("static", filename="board_images/d44.png")}}" style="position:absolute; top:420; left:360;" width=60 height=60>
<img id="h1" src="{{url_for("static", filename="board_images/l44.png")}}" style="position:absolute; top:420; left:420;" width=60 height=60>

{% for p in pieces: %}
   <img src="{{p[0]}}" style="position:absolute; top:{{p[2]*60}}; left:{{p[1]*60}};">
{% endfor %}

<!--
<img id="piece_0" src="{{url_for("static", filename="board_images/rlt60.png")}}" style="position:absolute; top:420; left:0;">
<img id="piece_1" src="{{url_for("static", filename="board_images/nlt60.png")}}" style="position:absolute; top:420; left:60;">
<img id="piece_2" src="{{url_for("static", filename="board_images/blt60.png")}}" style="position:absolute; top:420; left:120;">
<img id="piece_3" src="{{url_for("static", filename="board_images/qlt60.png")}}" style="position:absolute; top:420; left:180;">
<img id="piece_4" src="{{url_for("static", filename="board_images/klt60.png")}}" style="position:absolute; top:420; left:240;">
<img id="piece_5" src="{{url_for("static", filename="board_images/blt60.png")}}" style="position:absolute; top:420; left:300;">
<img id="piece_6" src="{{url_for("static", filename="board_images/nlt60.png")}}" style="position:absolute; top:420; left:360;">
<img id="piece_7" src="{{url_for("static", filename="board_images/rlt60.png")}}" style="position:absolute; top:420; left:420;">

<img id="piece_8" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:0;">
<img id="piece_9" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:60;">
<img id="piece_10" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:120;">
<img id="piece_11" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:180;">
<img id="piece_12" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:240;">
<img id="piece_13" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:300;">
<img id="piece_14" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:360;">
<img id="piece_15" src="{{url_for("static", filename="board_images/plt60.png")}}" style="position:absolute; top:360; left:420;">

<img id="piece_16" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:0;">
<img id="piece_17" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:60;">
<img id="piece_18" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:120;">
<img id="piece_19" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:180;">
<img id="piece_20" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:240;">
<img id="piece_21" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:300;">
<img id="piece_22" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:360;">
<img id="piece_23" src="{{url_for("static", filename="board_images/pdt60.png")}}" style="position:absolute; top:60; left:420;">

<img id="piece_24" src="{{url_for("static", filename="board_images/rdt60.png")}}" style="position:absolute; top:0; left:0;">
<img id="piece_25" src="{{url_for("static", filename="board_images/ndt60.png")}}" style="position:absolute; top:0; left:60;">
<img id="piece_26" src="{{url_for("static", filename="board_images/bdt60.png")}}" style="position:absolute; top:0; left:120;">
<img id="piece_27" src="{{url_for("static", filename="board_images/qdt60.png")}}" style="position:absolute; top:0; left:180;">
<img id="piece_28" src="{{url_for("static", filename="board_images/kdt60.png")}}" style="position:absolute; top:0; left:240;">
<img id="piece_29" src="{{url_for("static", filename="board_images/bdt60.png")}}" style="position:absolute; top:0; left:300;">
<img id="piece_30" src="{{url_for("static", filename="board_images/ndt60.png")}}" style="position:absolute; top:0; left:360;">
<img id="piece_31" src="{{url_for("static", filename="board_images/rdt60.png")}}" style="position:absolute; top:0; left:420;">
  -->



<div style="position:absolute; top:30; left:510">

<!-- NOTE: We're assuming that the user loaded game/1/2, and that there are 2 rounds of valid moves.  We'll make this more dynamic later -->

<!-- TODO: Show invalidated moves with STRIKETHROUGH -->

<table width=200>
  {% for moveNum in range(history|length) %}
    {% if moveNum+1 != cur_move %}
      <tr> <td>{{moveNum+1}}.</td> <td>{{history[moveNum][0]}}</td> <td>{{history[moveNum][1]}}</td> </tr>
    {% elif curMover==0 %}
      <tr> <td>{{moveNum+1}}.</td> <td><b><font color=red>{{history[moveNum][0]}}</font></b></td> <td>{{history[moveNum][1]}}</td> </tr>
    {% else %}
      <tr> <td>{{moveNum+1}}.</td> <td>{{history[moveNum][0]}}</td> <td><b><font color=red>{{history[moveNum][1]}}</font></b></td> </tr>
    {% endif %}
  {% endfor %}
</table>

<pre>
{{board}}
</pre>

<p>
<b>Legal Moves:</b>

<div style="display:flex; flex-flow:row wrap;">
{% for lm in legal_moves: %}
  <div>
    <form action="{{url_for("move")}}" method=POST>
      <input type=hidden name="gameID"  value="{{gameID}}">
      <input type=hidden name="moveNum" value="{{cur_move}}">
      <input type=hidden name="move"    value="{{lm}}">
      <input type=submit value="{{lm}}">
    </form>
  </div>
{% endfor %}
</div>

</div>



<div style="position:absolute; top:510; left:0; width:480; display:flex; justify-content:space-around; align-items:center">
  <a href="{{url_for("game", gameID=gameID, moveNum=1)}}">&lt;&lt;</a>
  <a href="{{url_for("game", gameID=gameID, moveNum=cur_move-1)}}">&lt;</a>
  <div align=center>Current Position:
       <br><b>Past</b> Move {{cur_move}} of {{moves|length}}</div>
  <a href="{{url_for("game", gameID=gameID, moveNum=cur_move+1)}}">&gt;</a>
  <a href="{{url_for("game", gameID=gameID, moveNum=moves|length+1)}}">&gt;&gt;</a> 
</div>



<p>
<b><font size=+2>NOTE:</font></b>
<br>You are viewing a position in the <b>past</b>.  Any move that you make
    will <b>alter the past!</b>

</div>
</div>


{% endblock %}

